/* Style the Modal */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  padding-top: 60px;
}

/* Style the form */
form {
  width: 25%;
  margin: 25vh auto;
}
  
/* Style the form inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style the form labels */
form label{
  color: rgba(0,0,0,.65);
}

/* Set a style for login button */
form .loginButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for login button */
form .loginButton:hover {
  opacity: 0.8;
}

/* Add padding to modal container */
form .container {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}
